*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

main{
    background: linear-gradient(173.34deg, #FFFFFF 0%, #FFFFFF 0%, rgba(243, 244, 245, 0.2) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFFFFF 100%);
}