@font-face{
    font-family: 'Jost';
    src: url("../fonts/Jost/Jost-ExtraBold.woff2") format("woff2"), 
    url("../fonts/Jost/Jost-ExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}

@font-face{
    font-family: 'Jost';
    src: url("../fonts/Jost/Jost-Medium.woff2") format("woff2"), 
    url("../fonts/Jost/Jost-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Jost';
    src: url("../fonts/Jost/Jost-Regular.woff2") format("woff2"), 
    url("../fonts/Jost/Jost-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}